@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-text-primary;
    }
}

.primary-shadow {
    box-shadow: 0px 4px 12px 0px rgba(163, 180, 203, 0.2);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-animation {
    /* animation: marquee 10s linear infinite; */
}
